__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.pytest_cache/
*.egg
.ruff_cache/
cubemind_pipeline.html
/tonote
.claude/settings.local.json
/docs/project_knowledge
/data
*.npz
/docs/papers
*.gguf
*.npy
ihl_expert_chunks.json
ihl_purified_chunks.json
vcpkg-configuration.json
vcpkg.json
docs/Medium_Article.md
docs/distil_to_moqe.ipynb
